<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Sglass</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="assets/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="assets/main_style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="assets/responsive.css" rel="stylesheet" />
</head>

<body>
  
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li> <span>-</span>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
      </ol>
      <div class="glass">
        <h6>
          Glasses
        </h6>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                        Welcome to
                      </h1>
                      <h2>
                        Glasses shop
                      </h2>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Buy Now
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                <span>About</span> our shop
              </h2>
            </div>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters,
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- glass section -->

  <section class="glass_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span> Our </span> Glasses
        </h2>
      </div>
      <div class="glass_container">
        <div class="box">
          <div class="img-box">
            <img src="assets/g-1.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-2.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-3.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-4.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-5.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-6.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-7.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/g-8.png" alt="">
          </div>
          <div class="price">
            <h6>
              $50
            </h6>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          See More
        </a>
      </div>
    </div>
  </section>


  <!-- end glass section -->

  <!-- quality section -->

  <section class="quality_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span> Best</span> Quality
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs detail-box" id="myTab" role="tablist">
            <li class="">
              <a class=" active" id="QTab1Link" data-toggle="tab" href="#qTab1" role="tab" aria-controls="qTab1" aria-selected="true">
                <h6 id="QTab1Link" data-toggle="tab" href="#qTab1" role="tab" aria-controls="qTab1" aria-selected="true">
                  <span>01</span>
                  It is a long established fact that a reader will be distracted
                </h6>
              </a>
            </li>
            <li class="">
              <a class="" id="QTab2Link" data-toggle="tab" href="#qTab2" role="tab" aria-controls="qTab2" aria-selected="false">
                <h6 id="QTab2Link" data-toggle="tab" href="#qTab2" role="tab" aria-controls="qTab2" aria-selected="false">
                  <span>02</span>
                  by the readable content of a page when looking at its
                </h6>
              </a>
            </li>
            <li class="">
              <a class="" id="QTab3Link" data-toggle="tab" href="#qTab3" role="tab" aria-controls="qTab3" aria-selected="false">
                <h6 id="QTab3Link" data-toggle="tab" href="#qTab3" role="tab" aria-controls="qTab3" aria-selected="false">
                  <span>03</span>
                  layout. The point of using Lorem Ipsum is that it has a
                </h6>
              </a>
            </li>
            <li class="">
              <a class="" id="QTab4Link" data-toggle="tab" href="#qTab4" role="tab" aria-controls="qTab4" aria-selected="false">
                <h6 id="QTab4Link" data-toggle="tab" href="#qTab4" role="tab" aria-controls="qTab4" aria-selected="false">
                  <span>04</span>
                  more-or-less normal distribution of letters,
                </h6>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 tab-content">
          <div class="img-container tab-pane  fade show active" id="qTab1" role="tabpanel" aria-labelledby="QTab1Link">
            <div class="img-box ">
              <img src="assets/quality-img.jpg" alt="">
            </div>
          </div>
          <div class="img-container tab-pane fade" id="qTab2" role="tabpanel" aria-labelledby="QTab2Link">
            <div class="img-box  ">
              <img src="assets/buy-img.png" alt="">
            </div>
          </div>
          <div class="img-container tab-pane fade" id="qTab3" role="tabpanel" aria-labelledby="QTab3Link">
            <div class="img-box  ">
              <img src="assets/quality-img.jpg" alt="">
            </div>
          </div>
          <div class="img-container tab-pane fade" id="qTab4" role="tabpanel" aria-labelledby="QTab4Link">
            <div class="img-box  ">
              <img src="assets/buy-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end quality section -->

  <!-- offer section -->




  <!-- end offer section -->

  <!-- buy section -->

  <section class="buy_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span class="s-1">
            Buy
          </span>
          your stylish
          <span class="s-2">
            glasses
          </span>
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="assets/buy-img.png" alt="">
        </div>
        <div class="detail-box">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, <br>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters,
          </p>
          <a href="">
            Book Now
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end buy section -->

  <!-- client section -->



  <!-- end client section -->

  <!-- contact section -->




  <!-- end contact section -->

  <!-- info section -->

  

  <!-- end info section -->


  <!-- footer section -->
  
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>

</body>

</html>