<h2>Thank you for shopping with us!</h2><br />
	
<h3>your order has been processed.</h3><br />

<h3>A detailed email has been sent.</h3><br />

<a href="/gallery/index">Click here to continue the shopping</a>